<h2><%= post.title%></h2>
<hr>


<h4>Descrição:</h4>
<br>
<p><%= post.description %></p>

<hr>

<h4>Contato:</h4>
<p>Email: <%= post.user.email %></p>
<p>Endereço: <%= post.address %></p>
<br>












