@import "bootstrap";
@import "navbar";
@import "toastr";
@import "devise_bootstrap_views";

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 0 0 0;
}

#map {
     position: absolute;
     z-index: -1;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

.m-t-60 {
    margin-top: 60px;
}